body {
    background-color: white;
    padding: 0%;
    margin: 0;
}

#titleDiv {
    display: flex;
    justify-content: center;
}

#mainBody{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#navBar{
    background-color: black;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    overflow: hidden;
    margin: 0%;
    padding: 0%;

}

#navBar a {
    color: white;
    text-decoration: none;
}

.stickyTop {
    position: fixed;
    top: 0;

}